.bookmark
  .page-title
    %h1.text-center Shop

.row
  .col-lg-4
    .well
      = "Phone: #{@shop.phone}"
      %br
      = "Email: #{@shop.email}"
      %br
      = "Hours: #{@shop.hours}"
    
    .google-map
      #map
    .well.family-box
      %h3{:style => 'color:#333;text-align:center;'} The Family
      %hr
      - @users.each do |user|
        .family-member-info.row
          .prof-pic.col-lg-4
            = image_tag user.profile_pic_path
          .words.col-lg-8
            .name
              = "#{user.first_name} #{user.last_name}"
            .short-bio
              = user.short_bio
  .col-lg-8.text-right
    - @shop.images.where(:is_slide => false).order(:order_id).each do |img|
      .shop-image
        = image_tag img.tag_path
