
.bookmark
  .page-title
    %h1.text-center Shop

.row
  .col-lg-4
    .well
      = "Phone: #{@shop.phone}"
      %br
      = "Email: #{@shop.email}"
      %br
      = "Hours: #{@shop.hours}"
    
    .google-map
      #map

  .col-lg-8.text-right
    - @shop.images.each do |img|
      .shop-image
        = image_tag img.tag_path
