.bookmark
  .page-title
    %h1.text-center Shop


.row
  .col-lg-4
    .well
      = "Phone: #{@shop.phone}"
      %br
      = "Email: #{@shop.email}"
      %br
      = "Hours: #{@shop.hours}"
    
    %script{src: "https://maps.google.com/maps/api/js?v=3&sensor=false", type: "text/javascript"}
    %div{style: "height:300px;width:450px;overflow:hidden;"}
      #gmap_canvas{style: "height:300px; width:450px;"}

  .col-lg-8.text-right
    - @shop.images.each do |img|
      .shop-image
        = image_tag img.tag_path
