!!!
%html
  %head
    %title TrueFitTattoo
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags
    /= favicon_link_tag 'favicon.ico'
  %body{'data-page' => "#{params[:controller]}:#{params[:action]}"}

    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .row
          .col-lg-4.col-md-4.col-sm-4
            %a{:href => '/home/index'}= image_tag("truefitlogo.png", {:class => "main-logo"})
          .col-lg-8.col-md-8.col-sm-8.menu
            %ul.pull-right
              %li= link_to('Home', '/home/index')
              %li= link_to('Artists', '/artists/index')
              %li= link_to('Shop', '/shop/index')

    
    .container.mycontainer
      .buffer
        .row
          .col-lg-12.col-md-12.col-sm-12
            = yield
    
    .footer
      .container.mycontainer
        .row
          .col-lg-12.col-md-12.col-sm-12.social-media
            %ul
              %li
                %a{:href => "http://yelp.com/biz/#{@shop.yelp}", :target => "_blank"}= image_tag("yelp.png") 
              %li
                %a{:href => "http://facebook.com/#{@shop.facebook}", :target => "_blank" }= image_tag("facebook.png") 
              %li
                %a{:href => "http://twitter.com/#{@shop.twitter}", :target => "_blank"}= image_tag("twitter.png")
              %li
                %a{:href => "http://instagram.com/#{@shop.instagram}", :target => "_blank"}= image_tag("instagram.png") 
        .row
          .col-lg-12.col-md-12.col-sm-12.copyright
            = "\u00A9 True Fit Tattoo #{Time.new.year} | Web development by "
            = link_to "jrcanty", "mailto:jrcanty@gmail.com"
            .login-links
              = link_to "Admin Login", "/admin/login"
              |
              = link_to "Artist Profile", "/profile/login"
